.heading {
  font-size: 181%;
  color: #66fcf1;
  margin-bottom: 2%;
  margin-top: 1%;
  display: flex;
  flex-direction: row;   
  justify-content: center;
}

.AddStudent__page_layout {
  width: 62.4%;
  height: 640px;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 12px !important;
  margin: 0% 2% 13% 17.2%;
  border-color: aqua;
  border-style: solid;
  border: 1;
  padding: 7vh;
}

/*
.formStyle {
  display: flex;
  flex-direction: row;   
  justify-content: center;
  padding-bottom: 10vh;
}

.formStyle_1 {
  padding: 3%;
  background-color: white;
  border-radius: 2%;
  width: 100vh;
}
*/

.AddStudentForm-LestSide{
  width: 900px;
}

.AddStudentForm-RightSide{
  width: 440px;
}

.AddStudentsumitt_btn{
  margin-top: 10px;
  margin-left: 520px;
  }

  .AddStudentsumitt_btn button:hover{
    transform: scale(1.15);
}