.heading {
  font-size: 180%;
  color: #66fcf1;
  margin-bottom: 3%;
  font-weight: bold;
}

.formStyle {
  padding: 3% 35% 15% 5%;
}

.formStyle_1 {
  padding: 3% 3% 1%;
  background-color: rgb(219, 235, 228);
  border-radius: 1%;
  font-weight: 600;
}
