.UpdateStudentProject__page_layout {
    width: 70%;
    height: 525px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 12px !important;
    margin: 0% 2% 13% 15%;
    border-color: aqua;
    border-style: solid;
    border: 1;
    padding: 7vh;
    padding-top: 8.5vh;
}

.UpdateStudentProject_LeftSideForm {
    width: 760px;
}

.UpdateStudentProject_RightsideForm {
    width: 480px;
}

.discription_box{
    height: 120%;
    width: 101%;
    resize: none;
}

.sumitt_btn{
margin-left: 590px;
margin-top: 10px;
}